body{
  background-image: url(../images/pic1.gif);
}
#intro{
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}
#about{
  font-style: italic;
  font-size: 23px;
}
#intro1{
  font-size: 27px;
  font-style: italic;
  text-decoration: underline;
}
.tri1{
 margin-left: 37%;
}
.tri4{
  display: flex;
  width: 100%;
  float: left;
  margin-top: 4%;
}
.tri3{
  margin-left: 60%;
}
