#intro{
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}
#about{
  font-style: italic;
  font-size: 23px;
}
#intro1{
  font-size: 27px;
  font-style: italic;
  text-decoration: underline;
}
